
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.category-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

.feedlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

.category-card{
  border-radius: 5px;
  box-shadow:0 8px 14px 0 black;
  margin: 50px;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  padding: 10px;
  width: 250px;
  height: 300px;
  color: black;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: bold;
}

.nav-links {
  list-style: none;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  padding-top:15px;
  text-decoration: none;
}

.signin-nav-links{
  padding:20px;
  margin: 10px;
}

.signin-links{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.Nav{
  display: flex;
  justify-content: space-around;
}

.nav-links a:hover{
  color: black;
}

.signin-links a:hover{
  color: black;
}

.gather-title{
  font-family: 'Roboto';
  padding-top: 50px;;
}


.category-card:hover {
  box-shadow: 0 10px 30px 0 black;  
}

.events-button{
  border-radius: 5px;
  font-family: 'Roboto';
}

.Nav{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-family: 'Roboto';
  font-size: 20px;
  width: inherit;
}

.create-event-form{
  margin: 25px;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-event-form{
  margin: 25px;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formbox{
  margin: 10px;
}

  .col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  align-items: center;
}

.create-event-title{
  margin: 5px;
  font-size: 30px;
}

.update-event-title{
  margin: 5px;
  font-size: 30px;
  font-family: 'Roboto';
}

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  margin: 10px;
}

.form-box-description{
  height: 100px;
  padding: 20px;
  margin: 10px;
  font-family: 'Roboto';
}

.update-title{
  font-family: 'Roboto';
}


.App {
  background-image: url(david-dvoracek-3kBIZZluhNc-unsplash.jpg);
  background-size: cover;
  /* overflow-y: auto;
  background-attachment: fixed; */
  height: 100vh;
  width: 100vw;
  margin-top: -50px;
}

.gather-title{
  font-size: 40px;;
}

.event-button{
  margin: 2px;
}
